<style>
body {
	background-color: #ADD8E6;
}

div.category_box {
	background-color: #9DC8F6;
	margin: 5px;
	padding: 10px;
}

div.article_title_box {
	background-color: #9DC8D6;
	margin: 5px;
	padding: 10px;
}

div.section_box {
	border: 1px solid gray;
	background-color: #BDE8F6;
	margin: 5px 10px 5px 10px;
	padding: 10px;
}
	
div.comment_box {
	border: 1px solid black;
	background-color: #DDFFA6;
	margin: 5px 20px 5px 20px;
	padding: 10px;
}
	
</style>

<body class="blog-body" id="bloghome">
	<!-- <form id="searchForm" action="javascript:search();">
		<div class="input-group">
			<button id="go" class="btn-default" type="button"
				onclick="document.getElementById('searchForm').submit(); return false;">
			</button>
			<input type="text" id="searchItem" class="form-control" placeholder="search">
		</div>
	</form>
	
	<script>
		function search() {
			var name = document.getElementById("searchForm").elements("searchItem").value;
			var pattern = name.toLowerCase();
			var targetId = "";
			
			var divs = document.getElementsByClassName("blog-body");
			for (var i=0; i<body.length; i++) {
				var para = divs[i].getElementsByTagName("div");
				var index = para[0].innerText.toLowerCase().indexOf(pattern);
				if (index != -1) {
					targetId = divs[i].parentNode.id;
					document.getElementById(targetId).scrollIntoView();
					break;
				}
			}
		}
	</script> -->
<!--
	// $('#searchfor').keyup(function(){
	// 	var page = $('#bloghome');
	// 	var pageText = page.text().replace("<span>","").replace("</span>");
	// 	var searchedText = $('#searchfor').val();
	// 	var theRegEx = new RegExp("("+searchedText+")", "igm");
	// 	var newHtml = pageText.replace(theRegEx, "<span>$1</span>");
	// 	page.html(newHtml);
	// });
-->
	<div class="category_box">
		<h2>Category: <%= @current_article.category %></h2>
		<%# could also use -> Title.find_by_titletype("category").titlestring %>
		<p>Introductory paragraph about blog/category..............</p>
		<p>Planned Future Articles:
			<ul>
				<% @future_titles.each do |title| %>
					<li><em><%= title.titlestring %></em></li>
				<% end %>
			</ul>
		</p>
	</div>

	<div class="article_title_box">
		<h3>Article Title: <%= @current_article.article_title %></h3>
		By: <strong><%= @current_author.first + " " + @current_author.last %></strong><br>
		Posted on: <em><%= @current_article.date_posted %></em>
		<p>Introductory paragraph about this article</p>
	</div>
	
	<% @current_article.sections.each do |section| %>	
		<% links = section.images.where(img_type: "snippet").pluck(:img_link) %>		
		<% #binding.pry %>
		<div class="section_box" id="Section_<%= section.id %>">
		  <h4><%=  section.section_title %></h4>	
			<p><em><%=  section.section_body %></em></p>
			<p><em>Section images:</em><br>
				<% links.each do |link| %>
					<img src="<%= link %>" height="200" width="250">
				<% end %>
			</p>
		</div>
	<% end %>	

<hr>
<hr>
<!-- <img src="http://i.imgur.com/8WFZtua.png" title="JavaScriptVA"/>
<img src="http://i.imgur.com/sTUF2EC.png" title="JavaVA"/> -->
<!-- Unsuccessful attempts at adding an image
<img src="<%= "#{PLBlog.settings.root}/images/javascript_va.png" %>" />
<img src="/images/javascript_va.png" /> 
<hr>
<hr>
-->

	<h3>Comments:</h3>
	<div id="comment_entry_form">
		<h4>Enter your information and comment:</h4>
		<form action="add_comment" method="post">
			First Name: <input type="text" name="first" placeholder="First Name"><br>
			Last Name : <input type="text" name="last" placeholder="Last Name"><br>
			Email     : <input type="email" name="email" placeholder="Email"><br>
		  Comment:<br> <textarea name="comments" rows="8" cols="40"></textarea>
			<p><input type="submit" value="Continue &rarr;"></p>
		</form>		
	</div>
	
	<h4>Previous Comments</h4>
	<% @current_article.commenters.reverse_each do |commenter| %>
		<div class="comment_box" id="cid_<%= commenter.id %>">
			<p>From: <%= commenter.first + " " + commenter.last %><br>
			Added on: <em><%= commenter.date_commented %></em></p>
			<p><%= commenter.comment_text %></em></p>		
		</div>
	<% end %>
</body>

<!-- EXAMPLE CODE
<p>Enter values for the following fields:</p>

<div>
  <form method="post" action="/script" id="placeholders">
    <%# @placeholders.each do |placeholder| %>
      <p>
        <label>
          <%#= placeholder[0] %>
          <input type="text" name="<%#= field_label(placeholder[0]) %>">
        </label>
      </p>
    <%# end %>
    
    <input type="submit" value="Submit">
  </form>
</div> 
-->